absl-py==2.1.0
aiohttp==3.9.3
aiosignal==1.3.1
altgraph==0.17.4
annotated-types==0.6.0
ansicon==1.89.0
anyio==4.3.0
api-display-purposes==0.0.3
asgiref==3.8.1
asttokens==2.4.1
attrs==23.2.0
autopep8==2.3.1
babel==2.16.0
beautifulsoup4==4.12.3
blessed==1.20.0
bottle==0.13.1
bottle-websocket==0.2.9
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
clarifai==2.6.2
clarifai-grpc==10.2.3
click==8.1.7
colorama==0.4.6
comm==0.2.2
configparser==3.8.1
contourpy==1.2.1
copykitten==1.2.1
crawlerdetect==0.1.7
cryptography==43.0.1
cv-imutils==0.0.1.4
cycler==0.12.1
debugpy==1.8.1
decorator==4.4.2
DeepImageSearch==2.5
diffusers==0.30.0
discord==2.3.2
discord.py==2.3.2
distro==1.9.0
Django==5.0.4
dnspython==2.6.1
EasyProcess==1.1
Eel==0.17.0
einops==0.8.0
emoji==1.7.0
executing==2.0.1
faiss-cpu==1.8.0.post1
fastapi==0.115.0
filelock==3.13.3
Flask==1.1.1
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.3.1
ftfy==6.2.0
future==1.0.0
fuzzywuzzy==0.18.0
geckodriver==0.0.1
gevent==24.2.1
gevent-websocket==0.10.1
gitdb==4.0.11
gitignore_parser==0.1.11
GitPython==3.1.43
googleapis-common-protos==1.63.0
greenlet==3.0.3
grpcio==1.63.0
gTTS==2.5.1
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huepy==1.2.1
huggingface-hub==0.24.6
idna==2.10
igbot==0.2.1
image==1.5.33
imageio==2.34.0
imageio-ffmpeg==0.4.9
importlib_metadata==8.4.0
imutils==0.5.4
imy==0.4.0
iniconfig==2.0.0
inquirerpy==0.3.4
instabot==0.117.0
instapy==0.6.16
introspection==1.9.1
ipykernel==6.29.4
ipython==8.23.0
isort==5.13.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jax==0.4.26
jedi==0.19.1
Jinja2==3.1.3
jinxed==1.3.0
jsonschema==2.6.0
jupyter_client==8.6.1
jupyter_core==5.7.2
keyring==24.3.1
kiwisolver==1.4.5
langcodes==3.4.0
langdetect==1.0.9
language_data==1.2.0
Levenshtein==0.26.0
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
maturin==1.7.4
mdurl==0.1.2
MeaningCloud-python==2.0.0
mediapipe==0.10.11
ml-dtypes==0.4.0
mock==5.1.0
more-itertools==10.5.0
moviepy==1.0.3
mpmath==1.3.0
msal==1.31.0
multidict==6.0.5
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
open-clip-torch==2.24.0
openai==0.28.0
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opt-einsum==3.3.0
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pdf2image==1.17.0
pefile==2024.8.26
pfzy==0.3.4
pillow==10.4.0
pkg-about==1.1.8
platformdirs==4.2.0
pluggy==1.4.0
plyer==2.1.0
proglog==0.1.10
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.8
pure-eval==0.2.2
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.17.2
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyJWT==2.9.0
pykeyboard-input==0.0.2.1
pymongo==4.8.0
pypandoc==1.11
pyparsing==3.1.2
pyperclip==1.8.2
pypng==0.20220715.0
PyQRCode==1.2.1
PySocks==1.7.1
pytesseract==0.3.10
pytest==8.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-Levenshtein==0.26.0
python-multipart==0.0.9
python-rapidjson==1.16
python-telegram-bot==21.1.1
pytz==2024.1
pywidgets==0.0.1
pywin32==306
pywin32-ctypes==0.2.3
PyYAML==6.0.1
pyzmq==26.0.0
rapidfuzz==3.9.7
rclip @ file:///H:/Python_packages/rclip-1.7.26-py3-none-any.whl#sha256=d33ae511518238372837546988fd2340eb5cc33820178b7f3b1addaf57cf7931
readchar==4.2.0
regex==2023.12.25
renumerate==1.1.14
requests==2.31.0
requests-toolbelt==1.0.0
responses==0.25.0
revel==0.9.1
rich==13.7.1
safetensors==0.4.2
schedule==1.2.1
schema==0.7.7
scipy==1.13.0
selenium==4.20.0
semantic-version==2.10.0
sentencepiece==0.2.0
sentinel==1.0.0
setuptools-rust==1.9.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==2.5
SQLAlchemy==2.0.35
sqlparse==0.5.0
stack-data==0.6.3
starlette==0.38.5
sympy==1.13.1
tabulate==0.9.0
tesseract==0.1.3
timer-dict==1.0.0
timm==1.0.9
tk==0.1.0
tkcalendar==1.6.1
tokenizers==0.19.1
tomlkit==0.13.2
torch==2.0.1
torchaudio==2.5.0.dev20240829+cu121
torchvision==0.15.2
tornado==6.4
tqdm==4.66.2
traitlets==5.14.2
transformers==4.44.1
trio==0.25.0
trio-websocket==0.11.1
tritonclient==2.45.0
typing_extensions==4.11.0
tzdata==2024.1
ujson==5.10.0
unicall==0.1.5
uniserde==0.3.14
urllib3==2.2.1
uvicorn==0.29.0
watchdog==5.0.2
watchfiles==0.24.0
wcwidth==0.2.13
webdriver-manager==4.0.1
webdriverdownloader==1.1.0.4
websocket==0.2.1
websocket-client==1.8.0
websockets==13.0.1
Werkzeug==3.0.4
whichcraft==0.6.1
wsproto==1.2.0
yarl==1.9.4
zipp==3.20.0
zope.event==5.0
zope.interface==6.3
